.payment-form {
  margin-top: 10px;
  hr {
    border-color: #dce4ec;
  }
}
.reg-card-number {
  padding-top: 3px;
}
.reg-card-number__content {
  text-align: center;
  float: left;
}
.reg-card-number__text {
  font-size: 12px;
  margin: 0;
}